.card {
  padding: 0;
  overflow: hidden;
  max-width: 500px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}

html[data-theme='dark'] .card {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px, rgba(255, 255, 255, 0.1) 0px 2px 4px;
}

.permalink {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-user-select: none;
}

.thumbnail {
  width: 100%;
}

.thumbnail > img {
  width: 100%;
  height: 192px;
  object-fit: cover;
  object-position: center 50%;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  padding-bottom: 1px;
}

/* .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
} */

.date {
  text-align: start;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  transition: 0.15s;
}

html[data-theme='dark'] .date {
  color: rgba(255, 255, 255, 0.7);
}