/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  flex: 1 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../static/img/banner_bg_2k.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 90vh;
  min-height: 52vh;
}

html[data-theme='dark'] .heroBanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../../../static/img/banner_bg_2k.jpg);
}

.heroTitle {
  font-size: 3rem;
}

html[data-theme='dark'] .heroTitle {
  text-shadow: 2px -2px 28px rgba(255, 255, 255, 1);
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

.buttons {
  margin: 0 auto;
  width: fit-content;
}

.buttons a {
  transition: 0.15s all ease-in;
}

.viewAll {
  margin-top: 2rem;
  text-align: center;
  transition: 0.15s all ease-out;
}

html[data-theme='dark'] .buttons a {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-secondary-light);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: 0.15s all ease-out;
}

html[data-theme='dark'] .buttons a:hover {
  background-color: var(--ifm-color-primary-dark);
}

.recentBlogsContainer {
  flex: 1 auto;
  padding: 3rem 10rem 4rem;
  transition: 0.3s all ease;
}

.recentBlogsList {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 500px));
  grid-gap: 1.5rem;
  transition: 0.3s all ease;
}

/* ----------------------------- */

.topTagsContainer {
  flex: 1 auto;
  padding: 1rem 10rem 6rem;
  transition: 0.3s all ease;
}

.topTagsList {
  display: inline;
  transition: 0.3s all ease;
}

/* ----------------------------- */

@media screen and (max-width: 1536px) {
  .recentBlogsList {
    transition: 0.3s all ease;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .recentBlogsContainer {
    padding: 4rem 6rem;
  }

  .topTagsContainer {
    padding: 1rem 6rem 4rem;
  }

  .recentBlogsList {
    grid-template-columns: repeat(3, minmax(200px, 500px));
    transition: 0.3s all ease;
  }
}

@media screen and (max-width: 1024px) {
  .recentBlogsList {
    grid-template-columns: auto auto;
    transition: 0.5s all ease-out;
  }
}

@media screen and (max-width: 768px) {
  .recentBlogsContainer {
    padding: 3rem 2rem;
    transition: 0.3s all ease;
  }

  .topTagsContainer {
    padding: 1rem 2rem 3rem;
  }

  .recentBlogsList {
    grid-template-columns: repeat(2, minmax(200px, 500px));
    transition: 0.5s all ease-out;
  }
}

@media screen and (max-width: 640px) {
  .recentBlogsList {
    grid-template-columns: repeat(1, minmax(200px, auto));
    transition: 0.5s all ease-out;
  }
}
